%section.content-header
  %h1
    Beta Bank!

%section.content
  .row
    .col-md-3
      .info-box
        %span.info-box-icon.bg-aqua
          %i.fa.fa-gears
        .info-box-content
          .info-box-text
            Number of Accounts:
          .info-box-number
            #{number_of_accounts}
    .col-md-3
      .info-box
        %span.info-box-icon.bg-aqua
          %i.fa.fa-gears
        .info-box-content
          .info-box-text
            Number of Clients:
          .info-box-number
            #{number_of_clients}