%section.content-header
  %h1
    Edit Bank Account
    %small
      #{@bank_account.account_number}

%section.content
  .box.box-primary
    .box-body
      = render partial: "form", locals: {bank_account: @bank_account}